[Unit]
Description=Reset Home Directory
After=local-fs.target
Before=multi-user.target display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/reset-home

[Install]
WantedBy=multi-user.target display-manager.service

