[Unit]
Description=Reset Home Directory
RequiresMountsFor=/etc /home
Before=systemd-poweroff.service shutdown.target umount.target final.target systemd-halt.service

[Service]
Type=oneshot
ExecStart=/usr/bin/reset-home
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=reset-home
RemainAfterExit=yes

[Install]
WantedBy=systemd-poweroff.service shutdown.target umount.target final.target systemd-halt.service

