[Unit]
Description=Reset Home Directory
After=local-fs.target
Before=multi-user.target display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/reset-home
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=reset-home
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target display-manager.service

